[submodule "GameEngine/vendor/spdlog"]
	path = Popeye/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/vendor/GLFW"]
	path = Popeye/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Popeye/vendor/glm"]
	path = Popeye/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Popeye/vendor/imgui"]
	path = Popeye/vendor/imgui
	url = https://github.com/astone30/imgui.git
